.sidebar {
    position: absolute
    left: 0
    width: 270px
    margin: 0 30px
    
    &__brand {
        width: 100%
        margin-top: 15px;

        &__logo {
            width:   50%  
        }
    }
}

.projects {
    position: relative
    top: 100px
    left: 215px
}

.topbar {
    position: absolute
    top: 15px
    right: 15px
}