$light-border {
    content: ""
    display: block
    height: 1px
    width: 50%
    margin: 15px 0
    background: #a1a3b766
}

$light-border--vertical {
    content: ""
    display: inline-block
    position relative
    bottom: 50%
    left:  50%
    height: 60%
    width: 1px
    // margin: 15px 0
    background: #f3b0ace6
}