$font-family = 'Poppins', sans-serif
$font-size--big = 35px
$font-size--medium = 19px
$font-size--default = 13px
$font-size--small = 11px
$font-weight--default = 300
$font-weight--bold = 600

$color-gray = #f7eef9
$color-gray--medium = #a1a3b7
$color-gray--light = #f7f6fb
$color-green = #3DB697
$color-pink = #f36161
$color-pink--light = #f3c5c1

$box-shadow = -1px 10px 12px -9px #a7a1aa
$box-shadow--light = -1px 5px 12px -9px #a7a1aa